<div class="dashboard-wrapper" fxLayout="column" fxFlex="100%">

  <app-line-basic 
    fxFlex.gt-sm="100%" fxFlex.gt-md="100%" 
  ></app-line-basic>

  <app-stock-chart
    fxFlex.gt-sm="100%" fxFlex.gt-md="100%" 
  ></app-stock-chart>

  <div fxLayout="row" fxFlex="100%" fxLayout.lt-sm="column" class="gainers-loosers">

    <div class="m-20"  fxLayout="column" fxFlex="100%">
      <div class="card-header green-700 px-16 py-4 text-bold"
        fxLayout="row" fxLayoutAlign="space-between">
        <span>Top Gainers</span>
        <mat-icon class="s-20">arrow_upward</mat-icon>
      </div>
      <div class="card-body" fxLayout="column" fxFlex="100%">
        <div class="gainers persons"
          *ngFor="let item of gainers"
          fxLayout="row" fxFlex="100%">
            <span class="rank" fxFlex="9">{{item.rank}}</span>
            <div class="img" fxFlex="15">
              <img [src]="item.profileImage" alt="">
            </div>
            <p class="name" fxFlex="50">{{item.first_name  + ' ' + item.last_name}}</p>
            <div class="value" fxFlex="11">
              <p class="today">{{item.ifdaq_sum_value_rel}}</p>
              <p class="yesterday">({{item.yesterday.ifdaq_sum_value_rel}})</p>
            </div>
            <div class="difference" fxFlex="15">
              <p class="today" appFontColor>{{item.ifdaq_sum_value_rel - item.yesterday.ifdaq_sum_value_rel}}</p>
              <p class="yesterday" appFontColor>{{(item.ifdaq_sum_value_rel - item.yesterday.ifdaq_sum_value_rel) * 100 / item.ifdaq_sum_value_rel}}</p>
            </div>
        </div>
      </div>
    </div>

    <div class="m-20" fxLayout="column" fxFlex="100%">
      <div class="card-header red-700 px-16 py-4 text-bold" 
          fxLayout="row" fxLayoutAlign="space-between">
        <span>Top Loosers</span>
        <mat-icon class="s-20">arrow_downward</mat-icon>
      </div>
      <div class="card-body" fxLayout="column" fxFlex="100%">
          <div class="loosers persons"
            *ngFor="let item of loosers"
            fxLayout="row">
            <span class="rank" fxFlex="9">{{item.rank}}</span>
              <div class="img" fxFlex="13">
                <img [src]="item.profileImage" alt="">
              </div>
              <p class="name" fxFlex="55">{{item.first_name  + ' ' + item.last_name}}</p>
              <div class="value" fxFlex="12">
                <p class="today">{{item.ifdaq_sum_value_rel}}</p>
                <p class="yesterday">({{item.yesterday.ifdaq_sum_value_rel}})</p>
              </div>
              <div class="difference" fxFlex="12">
                <p class="today" appFontColor>{{item.ifdaq_sum_value_rel - item.yesterday.ifdaq_sum_value_rel}}</p>
                <p class="yesterday" appFontColor>{{(item.ifdaq_sum_value_rel - item.yesterday.ifdaq_sum_value_rel) * 100 / item.ifdaq_sum_value_rel}}</p>
              </div>
          </div>
        </div>
    </div>

  </div>

</div>
