.dashboard-wrapper{
    background: #fff;
    .card-header{
        color: #fff!important;
        font-size: 0.9em;
    }
    .card-body{
        font-size: 0.8em;
    }
    .persons{
        border: 1px solid rgb(204, 204, 204);
        border-top: none;
        & > *:not(.img) {
            padding: 5px;
            margin: 0;
        }
        .rank{
            font-size: 1.2em;
        }
        .value, .difference{
            font-size: 0.75em;
        }
        .img{
            height: 80px;
            overflow: hidden;
            img{
                width: auto;
                height: 100%;
                max-width: auto;
            }
        }
    }
}